
@import "tailwindcss";

body{
    background-color: #351d69;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
  }